 main {
    font-family: "Montserrat", sans-serif;

    .banner-section {
      background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)),
        url("https://s3.ap-south-1.amazonaws.com/cdn.ghc.health/721b1a82-2eed-4a51-9d72-b915a4afab7f_249.jpg");
      height: 80vh;
      background-position: center;
      display: flex;
      justify-content: center;
      align-items: center;
      background-size: cover;
      background-repeat: no-repeat;

      div {
        h1 {
          font-size: 50px;
          font-weight: 900;
          color: #fff;
          font-family: "krona one";
          text-transform: uppercase;
        }
      }
    }

    .about-div {
      padding: 5rem 12rem;

      p {
        font-size: 16px;
        font-weight: 500;
        color: #000;
        margin-bottom: 10px;
      }
    }
  }


  // Mobile
  @media only screen and (max-device-width: 480px) {
    main {
      font-family: "Montserrat", sans-serif;

      .banner-section {
        height: 35vh;

        div {
          text-align: center;
          margin-top: 12rem;

          h1 {
            font-size: 34px;
          }
        }
      }

      .about-div {
        padding: 2rem;

        p {
          margin-bottom: 5px;
        }
      }
    }
  }