<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div id="top-bar" *ngIf="showTopBar">
    Order Online NOW!
    <span class="close-btn" (click)="closeTopBar()">✕</span>
  </div>

  <div class="container">
    <div class="navbar-header">
      <a class="brandName" href="/home">
        {{ brandName }}
      </a>

      <button
        *ngIf="!close"
        type="button"
        class="navbar-toggle collapsed"
        data-toggle="collapse"
        data-target="#bs-example-navbar-collapse-1"
        (click)="change(true)"
      >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <button
        *ngIf="close"
        type="button"
        class="navbar-toggle collapsed"
        data-toggle="collapse"
        data-target="#bs-example-navbar-collapse-1"
        (click)="change(false)"
      >
        <span class="sr-only">Toggle navigation</span>
        <span class="material-symbols-outlined"> close </span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li
          *ngFor="let link of links"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a *ngIf="link.type === 'internal'" [routerLink]="link.url">{{
            link.name
          }}</a>
          <a *ngIf="link.type === 'external'" [href]="link.url" target="_blank">{{
            link.name
          }}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
