<main>
  <app-navbar></app-navbar>
  <div class="topdiv">
    <img
      src="https://s3.ap-south-1.amazonaws.com/cdn.ghc.health/dc013ded-509b-4a60-aa45-c0b8b223d6b5_77465california-07.avif"
    />
    <h1>Contact Us</h1>
    <p>We’d love to hear from you!</p>
    <p>
      Got a question, craving, or catering request? Whether you're planning an
      event, want to know our next stop, or just feel like saying hello, we’re
      always here to connect.
    </p>
  </div>

  <div class="location">
    <div class="content-div">
      <div class="form">
        <form [formGroup]="userDetails3" *ngIf="!success">
          <div>
            <label>First Name*</label>
            <input
              type="text"
              name="firstName"
              placeholder="First Name"
              required
              formControlName="firstName"
            />
          </div>
          <div>
            <label>Last Name</label>
            <input
              type="text"
              name="lastName"
              placeholder="Last Name"
              formControlName="lastName"
            />
          </div>
          <div>
            <label>Phone Number*</label>
            <input
              type="tel"
              name="phone"
              placeholder="Phone Number"
              required
              formControlName="phone"
            />
          </div>
          <div>
            <label>Email*</label>
            <input
              type="email"
              name="email"
              placeholder="Email"
              required
              formControlName="email"
            />
          </div>
          <div>
            <label>Your Message*</label>
            <textarea
              name="comments"
              cols="30"
              rows="5"
              placeholder="Enter your message"
              required
              formControlName="message"
            ></textarea>
          </div>
          <div>
            <button
              type="submit"
              [disabled]="!userDetails3.valid"
              (click)="submitContactForm()"
            >
              Send Message
            </button>
          </div>
        </form>
        <div class="success" *ngIf="success">
          <span class="material-icons-outlined"> check_circle </span>
          <button routerLink="/">Home</button>
        </div>
      </div>
    </div>
  </div>

  <div class="contact-grid">
    <div class="contact-item" *ngFor="let item of hero.socialLinks">
      <a [href]="item.url" target="_blank">
        <img [src]="item.icon" />
        <h4>{{ item.name }}</h4>
      </a>
    </div>
  </div>
  <app-footer></app-footer>
</main>
