main {
    font-family: "Montserrat", sans-serif;

    .banner-image {
      background: linear-gradient(rgb(0 0 0 / 60%), rgb(0 0 0 / 60%)),
        url("https://s3.ap-south-1.amazonaws.com/cdn.ghc.health/8b30a232-151f-4686-b1f5-090bdb9e1459_banner%20images%20%281519%20x%20615%20px%29%20%286%29.jpg");
      height: 80vh;
      background-position: center;
      display: flex;
      justify-content: center;
      align-items: center;
      background-size: cover;
      background-repeat: no-repeat;

      .banner-content {
        text-align: center;

        h2 {
          font-size: 50px;
          font-weight: 900;
          color: #fff;
          font-family: "krona one";
          text-transform: uppercase;
        }

        img {
          width: 190px;
          object-fit: contain;
        }
      }
    }

    .mainMenu {
      padding: 20px 0px;
      background: url("https://s3.ap-south-1.amazonaws.com/cdn.ghc.health/e4daf3cc-0554-469c-9897-e1bc369fbea8_image2.png");

      .inner-div {
        flex-grow: 1;
        flex-shrink: 1;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        position: relative;
        background: #fff;
        padding: 4rem;
        margin-top: -2rem;

        &::-webkit-scrollbar {
          display: none;
        }

        .scroll-left,
        .scroll-right {
          background-color: #334834;
          color: #fff;
          border: none;
          font-size: 26px;
          cursor: pointer;
          padding: 0px 12px;
          position: absolute;
          font-weight: bold;
          border-radius: 16px;

          &.scroll-left {
            left: 80px;
          }

          &.scroll-right {
            right: 80px;
          }
        }

        .options-tab {
          display: flex;
          flex-wrap: nowrap;
          width: 80%;
          overflow-x: scroll;
          margin: 1% 0%;
          white-space: nowrap;
          justify-content: start;

          &::-webkit-scrollbar {
            display: none;
          }

          .highlighted {
            border-color: #334834;
            background-color: #334834 !important;
            color: #ffffff !important;
          }

          div {
            display: flex;
            justify-content: center;
            max-width: 40%;

            button {
              padding: 5px 10px;
              border: 1px solid #334834;
              background-color: #fff;
              color: #334834;
              margin: 5px;
              font-size: 14px;
              font-weight: 600;
              border-radius: 2px;
              text-shadow: -1px 0px 0px rgba(0, 0, 0, 0);
              padding: 0.5rem 1rem;
              box-shadow: 6px 6px #000;
              cursor: pointer;

              &:hover {
                border-color: #334834;
                background-color: #334834;
                color: #ffffff;
              }

              img {
                width: 100%;
              }

              h4 {
                font-size: 14px;
                font-weight: 600;
                color: #cb0004;
                text-transform: capitalize;
                /* background: #ffb400; */
                color: #404044;
              }
            }
          }
        }

        .abc {
          background-color: #e3e3e3;
          border: none;
          padding: 10px;
          cursor: pointer;
          transition: background-color 0.3s;
          text-transform: uppercase;
          white-space: nowrap;
          margin-right: 10px;

          &:hover {
            background-color: #ddd;
          }
        }
      }

      .exp {
        padding: 2%;
        width: 70%;
        margin: auto;
        background: #ffff;
        border: 1px solid #334834;
        margin-top: 5rem;

        h3 {
          font-weight: 700;
          margin-bottom: 40px;
          font-size: 30px;
          text-align: center;
          font-family: "krona one";
        }

        p {
          text-align: center;
        }

        .main-container {
          display: flex;
          flex-wrap: wrap;
          background: #fff;
          justify-content: space-between;

          .inner-container {
            max-width: 47%;
            flex: 0 0 47%;
            border: 0;
            padding: 10px;
            border-bottom: 1px solid #000;
            display: grid;
            gap: 5px;

            .heading3 {
              display: flex;
              gap: 10px;
              justify-content: space-between;
              align-items: center;

              .items-main-div {
                padding: 5px 0px;
                width: 70%;

                h4 {
                  font-weight: 700;
                  color: #000;
                  margin: 0px;
                  text-align: left;
                  font-size: 22px;
                  text-transform: capitalize;
                  font-family: "krona one";
                  margin-bottom: 12px;
                }

                p {
                  color: #444444;
                  font-size: 16px;
                  font-style: italic;
                  font-stretch: normal;
                  font-weight: 400;
                  text-align: start;
                }
              }

              span {
                font-size: 16px;
                color: #000;
                font-weight: 700;
              }

              img {
                width: 30%;
                object-fit: contain;
              }
            }
          }
        }
      }
    }
  }

  @media only screen and (max-device-width: 480px) {
    main {
      .banner-image {
        height: 35vh;

        .banner-content {
          text-align: center;
          margin-top: 12rem;

          h2 {
            font-size: 34px;
          }
        }
      }

      .mainMenu {
        padding: 0px;

        .inner-div {
          padding: 4rem 0;

          .scroll-left,
          .scroll-right {
            font-size: 24px;

            &.scroll-left {
              left: 0px;
            }

            &.scroll-right {
              right: 0px;
            }
          }

          .options-tab {
            div {
              display: flex;
              justify-content: center;
              max-width: 100%;

              button {
                width: 100%;
              }
            }
          }

          .inner-div::-webkit-scrollbar {
            display: none;
          }

          .options-tab::-webkit-scrollbar {
            display: none;
          }
        }

        .exp {
          padding: 10px;
          width: 100%;

          h3 {
            margin-bottom: 20px;
            font-size: 26px;
          }

          .main-container {
            .inner-container {
              max-width: 100%;
              flex: 0 0 100%;
            }
          }
        }
      }
    }
  }
  