<main>
  <app-navbar></app-navbar>
  <div class="banner-image">
    <div class="banner-content">
      <h2>Our Menu</h2>
    </div>
  </div>

  <div class="mainMenu main-bg">
    <div class="inner-div">
      <button class="scroll-left" (click)="scrollLeft()">&#8249;</button>

      <div class="options-tab">
        <div
          *ngFor="let item of categories; let i = index"
          [routerLink]="['/menu', host]"
          [fragment]="item.routeName"
        >
          <button
            class="abc"
            [ngClass]="{ highlighted: selectedCategory === i }"
            (click)="getDiv(i, item)"
          >
            {{ item.categoryName }}
          </button>
        </div>
      </div>

      <button class="scroll-right" (click)="scrollRight()">&#8250;</button>
    </div>

    <div class="exp">
      <div *ngIf="product" [attr.id]="product.routeName">
        <h3>{{ product.categoryName }}</h3>
        <p *ngIf="product.categoryNote">{{ product.categoryNote }}</p>

        <div class="main-container">
          <div class="inner-container" *ngFor="let p of product.items">
            <div class="heading3">
              <div class="items-main-div">
                <h4 [style]="css.itemNameCss">{{ p.itemName }}</h4>
                <p>{{ p.itemDescription }}</p>
              </div>
              <span *ngIf="p.itemPrice" [style]="css.itemPriceCss">
                &#36;{{ p.itemPrice }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</main>
