<main>
  <app-navbar></app-navbar>
  <div class="banner-div">
    <div class="inner-div">
      <h1>Catering Services <span>by Bhimas Food Truck</span></h1>
      <p>
        Bring the Taste of India
        <br />
        to Your Next Event!
      </p>
    </div>
  </div>

  <div
    *ngFor="let truck of hero.trucks"
    class="about-us"
    [ngStyle]="truck.reverse ? { background: '#f9fafc' } : {}"
  >
    <div class="left" *ngIf="!truck.reverse">
      <h2>{{ truck.id }}. {{ truck.title }}</h2>
      <p *ngFor="let i of truck.description">{{ i }}</p>
      <button routerLink="/contact">Book It Now</button>
    </div>
    <div class="right" *ngIf="!truck.reverse">
      <img [src]="truck.image" alt="{{ truck.title }}" />
    </div>

    <ng-container *ngIf="truck.reverse">
      <div class="left">
        <img [src]="truck.image" alt="{{ truck.title }}" />
      </div>
      <div class="right">
        <h2>{{ truck.id }}. {{ truck.title }}</h2>
        <p *ngFor="let i of truck.description">{{ i }}</p>
        <button routerLink="/contact">Book It Now</button>
      </div>
    </ng-container>
  </div>
  <app-footer></app-footer>
</main>
