 <main>
     <app-navbar></app-navbar>
     
      <div class="slider-section">
        <ng-image-slider
          [images]="sliderImage"
          [infinite]="true"
          [autoSlide]="1"
          [imagePopup]="false"
          [imageSize]="{ width: '100%', height: '70%' }"
          slideImage="1"
          #nav
          [animationSpeed]="5"
        >
        </ng-image-slider>
      </div>

      <div class="menusection" *ngFor="let home of hero.homecontent">
        <h2>{{ home.heading }}</h2>
        <p *ngFor="let i of home.homepara">{{ i }}</p>
        <a routerLink="{{ home.link }}" class="promo-button">
          {{ home.button }}
        </a>
      </div>

      <div class="promo-banner" *ngFor="let banner of hero.banners">
        <div class="promo-image">
          <img [src]="banner.leftImage" alt="Left Image" />
        </div>

        <div
          class="promo-content-wrapper"
          [ngStyle]="{
            'background-image': 'url(' + banner.rightBgPattern + ')'
          }"
        >
          <div class="promo-content">
            <h2>{{ banner.title }}</h2>
            <p>{{ banner.subtitle }}</p>
            <a [href]="banner.buttonLink" class="promo-button">
              {{ banner.buttonText }}
            </a>
          </div>
        </div>
      </div>

      <app-footer></app-footer>
    </main>